*
{
    margin: 0;
    padding: 0;
}

.header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
    width: 1750px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.logo
{
    margin-top: 38px;
}

.menu
{
    margin-top: 48px;
}

.menu_item
{
    font: 500 16px 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000000;
    margin-left: 87px;
}

.button
{
    background-color: #05090c;
    color: #ffffff;
    padding: 18px 40px;
    border-radius: 5px;
    text-decoration: none;
    font: 600 16px 'Montserrat';
}

.button_menu
{
    margin-left: 99px;
}

.button_start
{
    padding-right: 82.5px;
    padding-left: 82.5px;
}

.start
{
    height: 745px;
    max-width: 1564px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title
{
    font: 600 100px 'Montserrat';
    margin-bottom: 19px;
}

.title_color_pink
{
    color: #EE58B6;
}

.title_description
{
    font: 400 26px 'Roboto Condensed';
    width: 545px;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, 0.7);
}


/* .start_image
{
    margin-top: 90.35px 0 64.78px 29.57px;
} */

.attraction
{
    height: 398px;
    display: flexbox;
    align-items:center;
    background-color: #000000;
    margin-bottom: 209px;
}

.attraction_list
{
    display: flex;
    justify-content: space-between;
    width: 1215px;
    margin: 0 auto; 
    padding-top: 115px;
}

.attraction_icon
{
    width: 337px;
    text-align: center;
    
}

.attraction_description
{
    font: 400 22px 'Roboto Condensed';
    color:#ffffff;
    width: 340px;

}

.time_limit
{
    display: flex;
    align-items: center;
    margin: 34px auto 100px;
    width: 1350px;
    margin: 0 auto;
    margin-bottom: 70px;
}


.time_limit_text
{
    width: 620px;
    margin-left: 110px;
}

.time_limit_title
{
    margin-bottom: 24px;
    font: 500 48px 'Montserrat', sans-serif;
}

.time_limit_description
{
    font: 400 18px/24.3px 'Roboto Condensed', sans-serif;
    color: #000000;
    opacity: 0.7;
}

.mind_limit
{
    display: flex;
    align-items: center;
    width: 1135px;
    margin: 0 auto;
}

.mind_limit_text
{
    width: 574px;
    justify-content: left;
}

.mind_limit_image
{
    justify-content: right;
    margin-left: 80px;
}

.mind_limit_title
{
    margin-bottom: 24px;
    font: 500 48px 'Montserrat', sans-serif;
}

.mind_limit_description
{
    font: 400 18px/24.3px 'Roboto Condensed', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.course
{
    margin-bottom: 173px;
}

.course_title
{
    font: 500 48px 'Montserrat', sans-serif;
    margin: 130px auto 60px;
    text-align: center;
}

.course_title_pink
{
    color: #EE58B6;
}

.course_table
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
    width: 1135px;
    margin: 0 auto;
}

.course_frame
{
    background-color: #000000;
    border-radius: 7.4px;
}

.course_image
{
    padding: 32px 0 0 40px;
}

.course_descrition
{
    font: 400 18px 'Roboto Condensed', sans-serif;
    color: #ffffff;
    text-align: left;
    padding: 20px 48px 37px 39px;
}