@media screen and (max-width: 1920px)
{
    .header
    {
        width: 1400px;
    }

    .start
    {
        width: 1400px;
    }

    .start_image
    {
        width: 600px;
    }

    .attraction_list
    {
        width: 1350px;
    }

    .time_limit
    {
        width: 1400px;
    }

    .mind_limit
    {
        width: 1400px;
    }

    .feedback_wrapper
    {
        margin: 0 auto;
        width: 1400px; 
    }

    .feedback_form
    {
        margin: 0 auto;
        width: 1250px;
    }

    .feedback_form_text
    {
        width: 280px;
    }

    .feedback_button
    {
        padding: 23px 56px;
    }

}

@media screen and (max-width: 1440px)
{
    .header
    {
        width: 1200px;
    }

    .title
    {
        font-size: 70px;
    }

    .title_description
    {
        font-size: 25px;
    }

    .start
    {
        width: 1200px;
    }

    .start_image
    {
        width: 600px;
    }

    .attraction_list
    {
        width: 1200px;
    }

    .time_limit
    {
        width: 1200px;
    }

    .mind_limit
    {
        width: 1200px;
    }

    .feedback_wrapper
    {
        margin: 0 auto;
        width: 1150px; 
    }

    .feedback_form
    {
        margin: 0 auto;
        width: 1150px;
    }

    .feedback_form_text
    {
        width: 250px;
    }

    .feedback_button
    {
        padding: 23px 41px;
    }

}

@media screen and (max-width: 1200px)
{
    .header
    {
        width: 1050px;
    }

    .menu_item
    {
        margin-left: 50px;
    }

    .button_menu
    {
        margin-left: 50px;
    }

    .start
    {
        width: 1050px;
    }

    .start_image
    {
        width: 500px;
    }

    .title
    {
        font-size: 75px;
    }

    .title_description
    {
        font-size: 20px;
        width: 370px;
    }

    .attraction_list
    {
        width: 1050px;
    }

    .attraction_description
    {
        font-size: 18px;
    }

    .time_limit
    {
        width: 1050px;
    }

    .time_limit_title
    {
        font-size: 42px;
    }

    .time_limit_description
    {
        font-size: 15px;
    }

    .time_limit_image
    {
        width: 400px;
    }

    .mind_limit
    {
        width: 1050px;
    }

    .mind_limit_title
    {
        font-size: 42px;
    }

    .mind_limit_description
    {
        font-size: 15px;
    }

    .mind_limit_image
    {
        height: 500px;
    }

    .course_table
    {
        width: 1050px;
    }

    .feedback_wrapper
    {
        width: 1050px;
    }

    .feedback_form_text
    {
        width: 240px;
    }

    .feedback_button
    {
        padding: 23px 36px;
    }
}

@media screen and (max-width: 1199px)
{
    .header
    {
        width: 750px;
        margin-bottom: 40px;
    }

    .menu_item
    {
        font-size: 13px;
    }

    .button_menu
    {
        margin-left: 40px;
        padding: 15px 20px;
    }

    .menu_item
    {
        margin-left: 20px;
    }

    .start
    {
        width: 750px;
    }

    .start_image
    {
        width: 350px;
    }

    .title
    {
        font-size: 50px;
        margin-bottom: 12px;
    }

    .title_description
    {
        font-size: 15px;
        width: 370px;
        margin-bottom: 40px;
    }

    .attraction_tabs
    {
        width: 200px;
    }
    .attraction_list
    {
        width: 650px;
    }

    .attraction_description
    {
        font-size: 15px;
        width: 200px;
    }

    .time_limit
    {
        width: 850px;
    }

    .time_limit_title
    {
        font-size: 42px;
    }

    .time_limit_description
    {
        font-size: 15px;
        width: 380px;
    }

    .time_limit_image
    {
        width: 380px;
    }

    .mind_limit
    {
        width: 850px;
    }

    .mind_limit_title
    {
        font-size: 42px;
    }

    .mind_limit_description
    {
        font-size: 15px;
    }

    .mind_limit_image
    {
        height: 450px;
    }

    .course_descrition
    {
        font-size: 14px;
    }

    .course_table
    {
        width: 750px;
    }

    .feedback_wrapper
    {
        width: 850px;
    }

    .feedback_form
    {
        width: 350px;
        margin: 0 auto;
    }


    .feedback_form_text
    {
        width: 340px;
        margin-bottom: 20px;
    }

    .feedback_button
    {
        padding: 23px 90px;
        font-size: 15px;
    }

    .checkbox_confirm_text
    {
        font-size: 10px;
    }
    
    .social_description
    {
        font-size: 16px;
    }

    .social_subtitle
    {
        font-size: 16px;
    }

    .social_description_wrapping
    {
        font-size: 16px;
    }
}

/* @media screen and (max-width: 991px)
{
    
} */

@media screen and (max-width: 767px)
{   
    .menu
    {
        display: none;
    }

    .menu.active
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: left;
        text-align: center;
        overflow: hidden;
        position: fixed;
        margin-top: 100px;
        background-color: grey;
        opacity: 0.9;
        z-index: 10;
        height: 200px;
        border-radius: 10px;
    }

    .menu_item
    {
        font-size: 15px;
        margin-top: 15px;
    }

    .button_menu
    {
        transform: translate(10%, 10%);
        margin-top: 15px;
        padding: 10px 5px;
        width: 70%;
        align-items: center;
        font-size: 14px;
    }

    .burger{
        position: fixed;
        right: 10px;
        top: 10px;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
      .burger span, .burger span:before, .burger span:after{
        width: 100%;
        position: absolute;
        height: 10px;
        background: #333;
        display: block;
        transition: .3s;
        border-radius: 5px;
      }
      .burger span:before{
        content: "";
        top: -20px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span{
        top: 20px;
      }
      .burger span:after{
        content: "";
        bottom: -20px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span.active:before{
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active:after{
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active{
        background: rgba(255, 255, 255, 0); 
      }

      .header
    {
        width: 550px;
        margin-bottom: 20px;
    }

    

    .start
    {
        width: 550px;
    }

    .start_image
    {
        width: 200px;
    }

    .title
    {
        font-size: 50px;
        margin-bottom: 12px;
    }

    .title_description
    {
        font-size: 15px;
        width: 370px;
        margin-bottom: 40px;
    }

    .attraction_list
    {
        width: 550px;
    }

    .attraction_tabs
    {
        width: 170px;
        font-size: 12px;
    }

    .attraction_description
    {
        font-size: 14px;
        width: 170px;
    }

    .time_limit
    {
        width: 550px;
    }
    

    .time_limit_title
    {
        font-size: 42px;
    }

    .time_limit_description
    {
        font-size: 15px;
        width: 250px;
    }

    .time_limit_image
    {
        width: 200px;
    }

    .mind_limit
    {
        width: 550px;
    }

    .mind_limit_title
    {
        font-size: 42px;
    }

    .mind_limit_description
    {
        font-size: 15px;
    }

    .mind_limit_image
    {
        height: 300px;
    }

    .course_title
    {
        font-size: 42px;
    }

    .course_descrition
    {
        font-size: 16px;
    }

    .course_table
    {
        width: 550px;
        grid-template-columns: repeat(2, 1fr);
    }

    .faq
    {
        width: 550px;
    }

    .faq_title
    {
        font-size: 28px;
    }

    .faq_title_pink
    {
        font-size: 28px;
    }

    .faq_panel_text
    {
        width: 550px;
    }

    .feedback_wrapper
    {
        width: 550px;
    }

    .feedback_title
    {
        width: 550px;
    }

    .feedback_form
    {
        width: 350px;
        margin: 0 auto;
    }


    .feedback_form_text
    {
        width: 340px;
        margin-bottom: 20px;
    }

    .feedback_button
    {
        padding: 23px 90px;
        font-size: 15px;
    }

    .checkbox_confirm_text
    {
        font-size: 10px;
    }

    .social_profile
    {
        width: 550px;
    }
    
    .social_description
    {
        font-size: 16px;
    }

    .social_subtitle
    {
        font-size: 16px;
    }

    .social_description_wrapping
    {
        font-size: 16px;
    }

}

@media screen and (max-width: 575px)
{
    .header
    {
        width: 450px;
        margin-bottom: 20px;
    }

    

    .start
    {
        width: 350px;
    }

    .start_page
    {
        margin-left: 15px;
    }

    .start_image
    {
        display: none;
    }

    .title
    {
        font-size: 42px;
        margin-bottom: 12px;
    }

    .title_description
    {
        font-size: 12px;
        width: 320px;
        margin-bottom: 40px;
    }

    .button_start
    {
        padding-right: 62.5px;
        padding-left: 62.5px;
    }

    .attraction
    {
        height: 600px;
    }

    .attraction_list
    {
        width: 350px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        justify-content: center;
        justify-items: center;
    }

    .attraction_tabs
    {
        width: 250px;
    }

    .attraction_image
    {
        
        margin-left: auto;
        margin-right: auto;
    }

    .attraction_description
    {
        font-size: 14px;
        width: 250px;
        justify-content: center;
    }

    .time_limit
    {
        width: 300px;
    }

    .time_limit_text
    {
        justify-content: center;
        margin: 0 auto;
        width: 320px;
    }

    .time_limit_title
    {
        font-size: 38px;
        margin-left: 15px;
    }

    .time_limit_description
    {
        font-size: 15px;
        width: 300px;
        margin-left: 15px;
    }

    .time_limit_image
    {
        display: none;
    }

    .mind_limit
    {
        width: 300px;
    }

    .mind_limit_title
    {
        font-size: 38px;
    }

    .mind_limit_description
    {
        font-size: 15px;
    }

    .mind_limit_image
    {
        display: none;
    }

    .course
    {
        width: 320px;
    }

    .course_title
    {
        font-size: 28px;
    }

    .course_descrition
    {
        font-size: 16px;
    }

    .course_table
    {
        width: 320px;
        grid-template-columns: repeat(1, 1fr);
    }

    .faq
    {
        width: 310px;
    }

    .faq_title
    {
        font-size: 28px;
    }

    .faq_title_pink
    {
        font-size: 28px;
    }

    .faq_panel_text
    {
        width: 310px;
    }

    .faq_accordion
    {
        font-size: 22px;
    }

    .faq_accordion
    {
        font-size: 18px;
    }

    .feedback_wrapper
    {
        width: 310px;
    }

    .feedback_title
    {
        font-size: 30px;
        width: 320px;
    }

    .feedback_form
    {
        width: 320px;
        margin: 0 auto;
    }


    .feedback_form_text
    {
        width: 310px;
        margin-bottom: 20px;
    }

    .feedback_button
    {
        padding: 23px 75px;
        font-size: 15px;
    }

    .checkbox_confirm_text
    {
        font-size: 10px;
    }

    .social_profile
    {
        width: 320px;
    }
    
    .social_description
    {
        font-size: 14px;
    }

    .social_subtitle
    {
        font-size: 14px;
    }

    .social_description_wrapping
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px)
{
    .header
    {
        width: 250px;
        margin-bottom: 20px;
    }

    .logo
    {
        width: 100px;
    }
    
    .start
    {
        width: 250px;
        height: 350px;
    }

    .start_image
    {
        display: none;
    }

    .title
    {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .button_start
    {
        padding-right: 42.5px;
        padding-left: 42.5px;
    }

    .title_description
    {
        font-size: 15px;
        width: 270px;
        margin-bottom: 40px;
    }

    .attraction
    {
        height: 600px;
    }

    .attraction_list
    {
        width: 250px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        justify-content: center;
        justify-items: center;
    }

    .attraction_tabs
    {
        width: 250px;
    }

    .attraction_description
    {
        font-size: 12px;
        width: 250px;
        justify-content: center;
    }

    .time_limit
    {
        width: 250px;
    }

    .time_limit_text
    {
        justify-content: center;
        margin: 0 auto;
    }

    .time_limit_title
    {
        font-size: 32px;
    }

    .time_limit_description
    {
        font-size: 12px;
        width: 220px;
    }

    .time_limit_image
    {
        display: none;
    }

    .mind_limit
    {
        width: 250px;
    }

    .mind_limit_title
    {
        font-size: 32px;
    }

    .mind_limit_description
    {
        font-size: 12px;
    }

    .mind_limit_image
    {
        display: none;
    }

    .course_title
    {
        font-size: 30px;
    }

    .course_descrition
    {
        font-size: 12px;
    }

    .course_table
    {
        width: 250px;
        grid-template-columns: repeat(1, 1fr);
    }

    .faq
    {
        width: 280px;
    }

    .faq_accordion
    {
        font-size: 18px;
    }

    .faq_title
    {
        font-size: 30px;
    }

    .faq_title_pink
    {
        font-size: 30px;
    }

    .faq_panel_text
    {
        width: 280px;
    }

    .feedback_wrapper
    {
        width: 250px;
    }

    .feedback_title
    {
        font-size: px;
        width: 250px;
    }

    .feedback_form
    {
        width: 250px;
        margin: 0 auto;
        
    }


    .feedback_form_text
    {
        width: 250px;
        margin-bottom: 20px;
    }

    .feedback_button
    {
        padding: 23px 45px;
        font-size: 15px;
    }

    .checkbox_confirm_text
    {
        font-size: 10px;
    }

    .social_profile
    {
        width: 250px;
    }
    
    .social_description
    {
        font-size: 14px;
    }

    .social_subtitle
    {
        font-size: 14px;
    }

    .social_description_wrapping
    {
        font-size: 14px;
    }
}